@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

.timeline {
    padding-top: 120px;

    &-heading {
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        gap: 10px;

         h2 {
            font-family: Spectral;
            margin: 0px;
         }

         &-line {
            height: 3px;
            width: 60px;
         }
    }

    &-content {
        display: flex;
        gap: 30px;
        padding-bottom: 60px;

        &-date {
            display: flex;
            flex-direction: column;
            gap: 8px;

            h2{
                margin: 0px;
                font-family: Spectral;
            }

            span {
                font-family: Poppins;
            }
        }

        &-marker {
            width: 20px;
            height: 20px;
            border-radius: 50%;
        }

        &-info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}